@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div>
                Errore durante la conferma Email. Per favore ripetere il processo.
            </div>
        </div>
    </div>
</div>