
<div class="d-flex justify-content-center align-items-center">
    <h1>Memory Game</h1>
    <aside class="d-flex ms-5 fs-1" id="clock">00:00</aside>
</div>

<div class="row">
    <div class="col-12">
		<a asp-action="ElencoGiochi" asp-controller="Home"> Indietro </a>
    </div>
</div>

 <div class="wrapper p-2"> 
    <div class="row justify-content-center">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="row justify-content-center">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="row justify-content-center">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="row justify-content-center">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
  </div>


@section Scripts {
    <script src="~/js/MemoryLogic.js"></script>
}