
<div class="container">
    <div class="row">

		<h1>Gioco a Turni DBZ</h1>
            <div class="col-12">
                <a asp-action="ElencoGiochi" asp-controller="Home"> Indietro </a>
            </div>
     

        <div class="col-12">
             
			<p id="par">Benvenuto nel gioco a turni di Dragon Ball Z</p>
			<p>Il gioco è in fase di sviluppo, pazienta un po.</p>



        </div>
    </div>
</div>


@section Scripts {
    <script src="~/src/dist/bundle.js"></script>
}