
<div class="container">
    <div class="row">

		<h1>Gioco a Turni DBZ</h1>
            <div class="col-12">
                <a asp-action="ElencoGiochi" asp-controller="Home"> Indietro </a>
            </div>


		<div id="app"></div>
    </div>
    
</div>


@section Scripts {
    <script src="~/js/bundle.js"></script>
}