
<div class="container">
    <div class="row">

		<h1>Gioco a Turni DBZ</h1>
            <div class="col-12">
                <a asp-action="ElencoGiochi" asp-controller="Home"> Indietro </a>
            </div>
     

        <div class="col-12">
             
			<p>Benvenuto nel gioco a turni di Dragon Ball Z</p>
			<p>Il gioco è in fase di sviluppo, ma puoi già creare un account e iniziare a giocare</p>
			<p>Se hai già un account, puoi effettuare il login</p>
			<p>Se non hai un account, puoi registrarti</p>


        </div>
    </div>
</div>