@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Elenco Giochi</h2>
    @Html.ActionLink("Vai alla pagina dei giochi", "ElencoGiochi", "Home")

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
