@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-12 col-md-6">
	<div class="style1 size">
		<h2>Gioco a turni</h2>
		metti immagine sfondo
		e link ad un altra view dove è presente il gioco vero e proprio
		<a class="btn btn-primary" asp-action="GiocoATurniDBZ" asp-controller="Home"> Gioca</a>
	</div>

</div>
	


